<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<style type=text/css>body{font-family:monospace;}</style>
	<title>LaTeX</title>
	
	
	<link rel="stylesheet" href="/css/style.css">
	
	
</head>
<body>
	<header>
	=================<br>
	== <a href="https://vaba.gitlab.io/">vaba ~ free</a> ==<br>
	=================
	<div style="float: right;">I hope you find what you&#39;re looking for.</div><br>
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.
			
			
			<a href="/posts/"><b>Posts</b></a>.
			
	</nav>
	</p>
	
</header>

	
	<main>
		<article>
			<h1>LaTeX</h1>
			<b><time>22/04/2021 10:39</time></b>
		       

			<div>
				<p>This guide is for all aspects of LaTeX. It is written on my experience in TexStudio, but should be applicable everywhere.</p>
<h1 id="warnings">Warnings</h1>
<h2 id="no-file-bbl">No file *.bbl.</h2>
<h3 id="solution">Solution</h3>
<p>.bbl files are created by Bibtex. Therefore:</p>
<ol>
<li>Run <code>Bibtex</code></li>
<li>Compile the document</li>
</ol>
<h1 id="errors">Errors</h1>
<h2 id="command--already-defined">Command &lt;&hellip;&gt; already defined</h2>
<h3 id="problem">Problem</h3>
<p>Two packages being used in the document define the same command.</p>
<h3 id="solution-1">Solution</h3>
<p>Find the packages conflicting packages. The &lsquo;second&rsquo; package should be named in the error message. The &lsquo;first&rsquo; package (first to define the command) can be found in the following way:</p>
<p>Look at the log file/error log at this error to find where your packages are located on your system. For me they in <em>/usr/local/share/texmf/tex/latex/</em>. As an example, say the conflicting command is <em>\leftbar</em>. Then,, in the <strong>terminal</strong> we can find all packages which define <em>\leftbar</em> using:</p>
<pre><code>$ cd /usr/local/share/texmf/tex/latex/ # Enter the directory where your packages are stored
$ grep -r -n 'leftbar' # search for the conflicted command
</code></pre><p>And in our example, the output is:</p>
<pre><code>thmbox/thmbox.sty:158:
ewenvironment{leftbar}[1][]{%
framed/framed.sty:18:%   leftbar    - thick vertical line in left margin
framed/framed.sty:127:
ewenvironment{leftbar}{%
</code></pre><p>So we can see the packages <em>thmbox</em> and <em>framed</em> are conflicting with each other.</p>
<p>In <strong>LaTeX</strong> we can either remove one of the packages from our preamble, or if both are needed, we try following the steps at: <a href="https://www.texfaq.org/FAQ-alreadydef">texfaq.org</a></p>

			</div>
		</article>
	</main>
<aside>
	<div>
		<div>
			<h3>LATEST POSTS</h3>
		</div>
		<div>
			<ul>
				
				<li><a href="/posts/guides/apps/vim-commands/">vim-commands</a></li>
				
				<li><a href="/posts/guides/miscellaneous/keybindings/">keybindings</a></li>
				
				<li><a href="/posts/guides/apps/nvim/">nvim</a></li>
				
				<li><a href="/posts/guides/apps/multiple_git_accounts_on_one_machine/">multiple git accounts on one machine</a></li>
				
				<li><a href="/posts/guides/tasks/find_a_file/">find a file</a></li>
				
			</ul>
		</div>
	</div>
</aside>


	<footer>
	<p>2021 <a href="https://vaba.gitlab.io/"><b>vaba ~ free</b></a>.
	<a href="https://gitlab.com/vaba/vaba.gitlab.io"><b>Source code</b></a>.
	<a href="https://github.com/colorchestra/smol"><b>Theme by morph</b></a>.
	</p>
</footer>

</body>
</html>
