{{- $copyright := . -}}
<div class="footer-wrap"><p class="copyright">{{- $copyright -}}</p></div>
<div class="footer-wrap"><a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener">GPL3</a><span> | <a href="/index.xml" target="_blank" rel="noopener"> RSS</a></div>
<div class="footer-wrap"><p class="powerby"><span>Powered by </span><a href="https://gohugo.io" 
    target="_blank" rel="noopener">Hugo</a><span> and adapted from the </span><a href="https://github.com/qdzhang/hugo-notepadium-mod" 
    target="_blank" rel="noopener">Notepadium-mod</a></p></div>
<div class="footer-wrap">
    <a onclick='window.scrollTo({top: 0, behavior: "smooth"});'>^ TOP ^</a>
</div>
